{% extends "home/menu.html" %}

{% block child %}

    <h2>Estado del sevidor principal</h2>
    <p>
    {% if estado_server == 'encendido' %}
        <h3><span class="label label-success">Encendido</span></h3>
    {% else %}
        <h3><span class="label label-danger">Apagado</span></h3>
        {% if user.is_authenticated %}
            <button id="button_encender"    			 
                class="btn btn-primary" type="button">
                Encender
            </button>
            <div id="progressPC">
                <div id="varPC"></div>
            </div>
        {% endif %}
    {% endif %}
    </p>


    <h2>Estado del sevidor MC</h2>
    <p>
    {% if estado_mc == 'encendido' %}
        <h3><span class="label label-success">Encendido</span></h3>
    {% else %}
        <h3><span class="label label-danger">Apagado</span></h3>
        {% if estado_server == 'encendido' %}
            {% if user.is_authenticated %}
                Cuidado si lo encendemos asi nos quedamo sin gestion y <br />
                hay que apagarlo a mano <br />
                <button id="button_encender_minecraft"    			 
                    class="btn btn-primary" type="button">
                    Encender MC
                </button>
                <div id="progressMC">
                    <div id="varMC"></div>
                </div
            {% endif %}
        {% endif %}
    {% endif %}
    </p>
{% endblock child %}