{% load staticfiles %}

<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "js/monitor.js" %}"></script>
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

<h1>Estado del sevidor principal</h1>
<p>
{% if estado_server == 'encendido' %}
    <h2><span class="label label-success">Encendido</span></h2>
{% else %}
    <h2><span class="label label-danger">Apagado</span></h2>
    <button id="button_encender"    			 
        class="btn btn-primary" type="button">
        Encender
    </button>
{% endif %}
</p>


<h1>Estado del sevidor MC</h1>
<p>
{% if estado_mc == 'encendido' %}
    <h2><span class="label label-success">Encendido</span></h2>
{% else %}
    <h2><span class="label label-danger">Apagado</span></h2>
{% endif %}
</p>